h3 {
   text-align: left;
}
#short_description{
    font-style: italic;
}

#boaImage{
    width: 300px;
    padding-bottom: 15px;
}

.bold{
    font-weight: bold;
}

ul{
   list-style-type: none;
    display: inline;
}

.boxOutside {
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #DCDCDC;
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px #DCDCDC;
}

.boxInside {
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color: #DCDCDC;
    width: 285px;
    padding: 6px;
}
